mixin search()
  form.search.has-text-centered
    h2.subtitle.is-5 Enter Location
    input.input(type="text" placeholder="Search for Location..." name="search" style="margin-bottom: 1em" autocomplete="off" required)
    button.button.is-primary.is-inverted.is-large.is-outlined Submit
