doctype html
html
  head
    title Nightlife Coord
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 Index
    form.search
      input(type="text" placeholder="Search for Location..." name="search")
      input(type="submit" value="Submit")
      .results
    block scripts
      script(src="/dist/Client.bundle.js")
